# if the user is not logged in az account show will return a non zero status code
az account show > /dev/null 2>&1
if [ "$?" != "0" ];then
  az login
fi

# To login with a service principal use the following command.
#  az login --service-principal --username $SP_ID --password $SP_SECRET --tenant $SP_TENANT_ID
# note: these values needs to be passed in and it's not a good idea to include them in the repo and container.